.hero-text-image-section {
  overflow: hidden;
  padding: 130px 0;

  &.gradient-background-color {
    @include gradient-y($color-very-light-gray, $color-white);
    background-color: $color-very-light-gray;
  }
}

.hero-text-image-row {
  display: flex;
  justify-content: space-between;

  .content-col {
    width: 43.16547%;

    h1 {
      color: $color-dark-blue;
      font-size: 52px;
      line-height: 63px;
    }

    h2 {
      color: $color-light-black;
      font-size: 28px;
      font-weight: $font-weight-normal;
      line-height: 38px;
      margin-top: 54px;
      padding-bottom: 22px;
      position: relative;

      &::after {
        background-color: $color-blue;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 30px;
      }
    }

    p {
      color: $color-dark-gray;
      font-size: 20px;
      line-height: 30px;
      margin-top: 23px;
    }

    &.large-font-size {
      h1 {
        font-size: 72px;
        line-height: 80px;
      }

      h2 {
        margin-top: 16px;
      }
    }

    &.remove-h2-underline {
      h2::after {
        display: none;
      }
    }
  }

  .image-col {
    width: 48.20144%;

    img {
      border-radius: 4px;
      max-width: none;
    }
  }
}

@media #{$tablet-query} {
  .hero-text-image-section {
    padding: 100px 0;
  }

  .hero-text-image-row {
    .content-col {
      width: 48.3871%;
      
      &.large-font-size {
        h1 {
          font-size: 56px;
          line-height: 64px;
        }

        h2 {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }

    .image-col {
      width: 48.3871%;
    }
  }
}

@media (max-width : $mobile-break-point) {
  .hero-text-image-section {
    padding: 33px 0;
  }

  .hero-text-image-row {
    display: block;

    .content-col {
      width: 100%;

      h1 {
        font-size: 30px;
        line-height: 38px;
      }

      h2 {
        font-size: 20px;
        line-height: 28px;
        margin-top: 22px;

        &::after {
          height: 2px;
          width: 27px;
        }
      }

      p {
        font-size: 15px;
        line-height: 23px;
        margin-top: 22px;
      }

      &.large-font-size {
        h1 {
          font-size: 30px;
          line-height: 38px;
        }
      }
    }

    .image-col {
      margin-top: 30px;
  
      img {
        width: 500px;
      }
    }
  }
}
