.case-study-list-section {
  padding: 60px 0 145px;
}

.case-study-list-cat-list {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  position: relative;
  z-index: 1;

  &::after {
    background-color: $color-light-gray;
    bottom: 0;
    content: '';
    height: 1px;
    left: -85px;
    position: absolute;
    right: -105px;
  }
}

.case-study-list-cat-item {
  color: $color-blue;
  cursor: pointer;
  font-size: 18px;
  font-weight: $font-weight-medium;
  line-height: 28px;
  margin: 0 5px;
  padding: 0 50px 23px 48px;
  position: relative;
  z-index: 2;

  &::after {
    background-color: $color-blue;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    right: 100%;
    transition: right 0.3s linear;
  }

  &.active,
  &:hover {
    &::after {
      right: 0;
    }
  }
}

.case-study-list-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.case-study-list {
  padding: 25px;
  width: 33.33333%;
}

.case-study-list-inner {
  border: 1px solid $color-light-gray;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 $color-light-gray;
  height: 100%;
  position: relative;
}

.case-study-list-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px 6px 0 0;
  height: 330px;
}

.case-study-list-info {
  background-color: $color-white;
  border-radius: 0 0 6px 6px;
  padding: 21px 30px 77px;

  h3 {
    color: $color-light-black;
    font-size: 22px;
    line-height: 32px;
  }

  p {
    color: $color-dark-gray;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
  }
}

.case-study-list-link {
  bottom: 26px;
  left: 30px;
  position: absolute;
  right: 30px;

  .case-study-list-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    position: absolute;
    right: 0;
    top: -7px;
    width: 32px;
  }
}

.case-study-list-cat-list-label {
  border-bottom: 1px solid $color-light-gray;
  color: $color-blue;
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 22px;
  margin: 0 -25px;
  padding: 0 25px 17px;
  position: relative;

  &::after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMzA0LjYgMzkyLjYgMTIuMSA2LjkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTMwNC42IDM5Mi42IDEyLjEgNi45OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzE1NjVDMCIgZD0iTS0zMDQuNSwzOTMuN2w1LjcsNS43YzAuMSwwLjEsMC4zLDAuMSwwLjUsMGw1LjctNS43YzAuMS0wLjEsMC4xLTAuMywwLTAuNWwtMC41LTAuNWMtMC4xLTAuMS0wLjMtMC4xLTAuNSwwbC01LDQuOWwtNS00LjljLTAuMS0wLjEtMC4zLTAuMS0wLjUsMGwtMC41LDAuNUMtMzA0LjYsMzkzLjQtMzA0LjYsMzkzLjYtMzA0LjUsMzkzLjd6Ii8+PC9zdmc+');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 7px;
    position: absolute;
    right: 25px;
    top: 7px;
    width: 11px;
  }
}

@media (min-width : $tablet-break-point) {
  .case-study-list-inner {
    @include hover-scale-effect();
  }
}

@media (max-width : 1700px) {
  .case-study-list-cat-list {
    &::after {
      left: 0;
      right: 0;
    }
  }
}

@media #{$tablet-query} {
  .case-study-list-cat-item {
    font-size: 15px;
    line-height: 21px;
    padding: 0 30px 22px;
  }

  .case-study-list-row {
    margin: 0 -12px;
  }

  .case-study-list-info {
    padding: 20px 20px 63px;
    
    h3 {
      font-size: 18px;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .case-study-list {
    padding: 12px;
  }
}

@media (max-width : $mobile-break-point) {
  .case-study-list-section {
    padding: 19px 0 60px;
  }

  .case-study-list-row {
    display: block;
    margin: 40px 0 0;
  }

  .case-study-list {
    padding: 0;
    width: 100%;
  }

  .case-study-list+.case-study-list {
    margin-top: 60px;
  }

  .case-study-list-img {
    height: 208px;
  }

  .case-study-list-info {
    border-radius: 0;
    padding: 21px 19px 0;

    h3 {
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 15px;
      line-height: 23px;
      margin-top: 10px;
    }
  }

  .case-study-list-link {
    bottom: auto;
    left: auto;
    margin: 13px 0 0 19px;
    padding-bottom: 25px;
    padding-left: 33px;
    position: relative;
    right: auto;

    .case-study-list-icon {
      height: 24px;
      left: 0;
      right: auto;
      top: -2px;
      width: 24px;
    }
  }

  .case-study-list-cat-list-label {
    display: block;
  }

  .case-study-list-cat-list {
    display: none;
    margin-bottom: 0;
    padding: 8px 0;

    &::after {
      display: none;
    }
  }

  .case-study-list-cat-item {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 8px 0;

    &::after {
      display: none;
    }
  }
}
