.related-podcasts-section {
  margin-bottom: 150px;
  padding: 30px 0 0;

  .post-container {
    h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}

.podcast-iframe-wrapper {
  margin-top: 20px;
  max-width: 400px;

  iframe {
    width: 100%;
  }
}

@media (max-width : $mobile-break-point) {
  .related-podcasts-section {
    margin-bottom: 0;
    padding: 19px 0 60px;
  }
}
