.hero-case-studies-main-section {
  background-color: $color-very-light-gray;
  overflow: hidden;
  padding: 159px 0 154px;
  position: relative;
}

.hero-case-studies-main-content {
  max-width: 450px;
  position: relative;
  z-index: 2;

  p {
    color: $color-light-black;
    font-size: 24px;
    line-height: 34px;
    margin-top: 8px;
  }
}

.hero-case-studies-main-img-elem-desktop {
  position: absolute;
  z-index: 1;
}

@media (max-width : 1000px) {
  .hero-case-studies-main-section {
    padding: 56px 0 53px;
  }

  .hero-case-studies-main-content {
    p {
      font-size: 20px;
      line-height: 28px;
      margin-top: 9px;
    }
  }

  .hero-case-studies-main-img-elem-desktop {
    display: none;
  }
}
