.all-blog-section {
  margin-bottom: 156px;
  padding: 60px 0 0;
}

.all-blog-cat-list-label {
  border-bottom: 1px solid $color-light-gray;
  color: $color-blue;
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 22px;
  margin: 0 -25px;
  padding: 0 25px 17px;
  position: relative;

  &::after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMzA0LjYgMzkyLjYgMTIuMSA2LjkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTMwNC42IDM5Mi42IDEyLjEgNi45OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzE1NjVDMCIgZD0iTS0zMDQuNSwzOTMuN2w1LjcsNS43YzAuMSwwLjEsMC4zLDAuMSwwLjUsMGw1LjctNS43YzAuMS0wLjEsMC4xLTAuMywwLTAuNWwtMC41LTAuNWMtMC4xLTAuMS0wLjMtMC4xLTAuNSwwbC01LDQuOWwtNS00LjljLTAuMS0wLjEtMC4zLTAuMS0wLjUsMGwtMC41LDAuNUMtMzA0LjYsMzkzLjQtMzA0LjYsMzkzLjYtMzA0LjUsMzkzLjd6Ii8+PC9zdmc+');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 7px;
    position: absolute;
    right: 25px;
    top: 7px;
    width: 11px;
  }
}

.all-blog-cat-list {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;

  &::after {
    background-color: $color-light-gray;
    bottom: 0;
    content: '';
    height: 1px;
    left: -85px;
    position: absolute;
    right: -105px;
  }
}

.all-blog-cat-item {
  color: $color-blue;
  cursor: pointer;
  font-size: 18px;
  font-weight: $font-weight-medium;
  line-height: 28px;
  margin: 0 5px;
  padding: 0 50px 23px 48px;
  position: relative;
  z-index: 2;

  &::after {
    background-color: $color-blue;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    right: 100%;
    transition: right 0.3s linear;
  }

  &.active,
  &:hover {
    &::after {
      right: 0;
    }
  }
}

.all-blog-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.all-blog-col {
  padding: 0 25px;
  width: 33.33333%;

  &.all-blog-col-last {
    margin-top: 85px;
  }
}

.all-blog-col-inner {
  border: 1px solid $color-light-gray;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 $color-light-gray;
  height: 100%;
  position: relative;

}

.all-blog-col-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px 6px 0 0;
  height: 330px;
}

.all-blog-col-info {
  background-color: $color-white;
  border-radius: 0 0 6px 6px;
  padding: 21px 29px 72px;

  h3 {
    color: $color-blue;
    font-size: 22px;
    line-height: 32px;
  }

  p {
    color: $color-dark-gray;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
  }
}

.all-blog-col-link {
  bottom: 24px;
  left: 30px;
  position: absolute;
  right: 30px;

  .all-blog-col-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    position: absolute;
    right: 0;
    top: -7px;
    width: 32px;
  }
}

.all-blog-one-col {
  margin-top: 85px;
  padding: 0 25px;
  width: 100%;
}

.all-blog-one-col-inner {
  border: 1px solid $color-light-gray;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 $color-light-gray;
  display: flex;
}

.all-blog-one-col-inner-link {
  display: flex;
  width: 100%;
}

.all-blog-one-col-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px 0 0 6px;
  width: 51.79856%;
}

.all-blog-one-col-content {
  background-color: $color-white;
  border-radius: 0 6px 6px 0;
  padding: 110px 70px 114px;
  width: 48.20144%;
}

.all-blog-one-col-info {
  h3 {
    color: $color-blue;
    font-size: 22px;
    line-height: 32px;
  }

  p {
    color: $color-dark-gray;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
  }
}

.all-blog-one-col-link {
  margin-top: 34px;
  position: relative;

  .all-blog-one-col-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    position: absolute;
    right: 0;
    top: -7px;
    width: 32px;
  }
}

.all-blog-load-spinner {
  background-color: #000;
  background-image: url('../assets/images/ajax-spin.gif');
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.all-blog-navigation {
  margin-top: 85px;

  .pagination {
    @include clearfix();
  }

  li {
    float: left;
  }

  li + li {
    margin-left: 18px;
  }

  .page-item,
  .page-item-active {
    a {
      border: 1px solid $color-white;
      color: $color-blue;
      display: inline-block;
      font-size: 18px;
      font-weight: $font-weight-medium;
      line-height: 28px;
      padding: 3px 0 4px;
      text-align: center;
      width: 36px;
    }
  }

  .page-item-active {
    a {
      background-color: $color-white;
      border: 1px solid $color-light-gray;
      border-radius: 5px;
      box-shadow: 0 2px 3px 0 $color-light-gray;
      color: $color-dark-gray;
    }
  }

  .page-item-dot {
    span {
      color: $color-blue;
      font-size: 18px;
      font-weight: $font-weight-medium;
      line-height: 28px;
    }
  }

  .prev-btn,
  .next-btn {
    margin-top: 10px;

    span {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItNTQ2LjUgNzc5LjMgMTAuOSAxOS4xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IC01NDYuNSA3NzkuMyAxMC45IDE5LjE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBpZD0iYyIgZmlsbD0iIzE1NjVDMCIgZD0iTS01NDUuNCw3NzkuNGwtMC45LDAuOWMtMC4yLDAuMi0wLjIsMC41LDAsMC43bDcuOCw3LjhsLTcuOCw3LjhjLTAuMiwwLjItMC4yLDAuNSwwLDAuN2wwLjksMC45YzAuMiwwLjIsMC41LDAuMiwwLjcsMGw5LTljMC4yLTAuMiwwLjItMC41LDAtMC43bC05LTlDLTU0NC45LDc3OS4yLTU0NS4yLDc3OS4yLTU0NS40LDc3OS40eiIvPjwvc3ZnPg==');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 13px;
      width: 8px;
    }
  }

  .prev-btn {
    span {
      transform: rotate(180deg);
    }
  }
}

.all-blog-load-more-btn-row {
  display: none;
  margin-top: 40px;
}

.all-blog-load-more-btn {
  background-color: $color-blue;
  border: 0;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
  font-weight: $font-weight-medium;
  line-height: 22px;
  max-width: 400px;
  padding: 11px 0 10px;
  text-align: center;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

@media (max-width : 1700px) {
  .all-blog-cat-list {
    &::after {
      left: 0;
      right: 0;
    }
  }
}

@media (min-width: $tablet-break-point) {
  .all-blog-col-inner,
  .all-blog-one-col-inner {
    transition: transform 0.2s linear,box-shadow 0.2s linear,-webkit-transform 0.2s linear,-webkit-box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0 0 100px hsla(0, 0%, 77.6%, 0.75);
      transform: scale(1.05);
    }
  }
}


@media #{$tablet-query} {
  .all-blog-cat-list {
    margin-bottom: 50px;
  }

  .all-blog-cat-item {
    font-size: 15px;
    line-height: 21px;
    padding: 0 30px 22px;
  }

  .all-blog-row {
    margin: 0 -12px;
  }

  .all-blog-col {
    padding: 0 12px;

    &.all-blog-col-last {
      margin-top: 50px;
    }
  }

  .all-blog-col-info {
    padding: 20px 20px 63px;

    h3 {
      font-size: 18px;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .all-blog-col-link {
    left: 20px;
  }

  .all-blog-one-col {
    margin-top: 50px;
    padding: 0 12px;
  }

  .all-blog-one-col-content {
    padding: 20px 50px 35px 52px;
  }

  .all-blog-one-col-info {
    h3 {
      font-size: 22px;
      line-height: 32px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media (max-width : $mobile-break-point) {
  .all-blog-section {
    margin-bottom: 0;
    padding: 19px 0 60px;
  }

  .all-blog-cat-list-label {
    display: block;
  }

  .all-blog-cat-list {
    display: none;
    margin-bottom: 0;
    padding: 8px 0;

    &::after {
      display: none;
    }
  }

  .all-blog-cat-item {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 8px 0;

    &::after {
      display: none;
    }
  }

  .all-blog-row {
    display: block;
    margin: 40px 0 0;
  }

  .all-blog-col {
    padding: 0;
    width: 100%;
  }

  .all-blog-col+.all-blog-col {
    margin-top: 60px;
  }

  .all-blog-col-img {
    height: 210px;
  }

  .all-blog-col-info {
    padding: 22px 20px 0;

    h3 {
      color: $color-blue;
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 15px;
      line-height: 23px;
      margin-top: 10px;
    }
  }

  .all-blog-col-link {
    bottom: auto;
    left: auto;
    margin-top: 13px;
    padding: 0 20px 25px;
    position: relative;
    right: auto;
    
    .all-blog-col-icon {
      height: 20px;
      right: 20px;
      top: 0;
      width: 20px;
    }
  }

  .all-blog-one-col {
    margin-top: 60px;
    padding: 0;
  }

  .all-blog-one-col-inner {
    display: block;
  }

  .all-blog-one-col-inner-link {
    display: block;
  }

  .all-blog-one-col-img {
    border-radius: 6px 6px 0 0;
    height: 210px;
    width: 100%;
  }

  .all-blog-one-col-content {
    border-radius: 0 0 6px 6px;
    padding: 0;
    width: 100%;
  }

  .all-blog-one-col-info {
    padding: 22px 20px 0;

    h3 {
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 15px;
      line-height: 23px;
      margin-top: 10px;
    }
  }

  .all-blog-one-col-link {
    bottom: auto;
    left: auto;
    margin-top: 13px;
    padding: 0 20px 25px;
    position: relative;
    right: auto;
    
    .all-blog-one-col-icon {
      height: 20px;
      right: 20px;
      top: 0;
      width: 20px;
    }
  }

  .all-blog-navigation {
    display: none;
  }

  .all-blog-load-more-btn-row {
    display: block;
  }
}
