.block-content-row {
  max-width: 900px;
  padding: 80px 0;
  
  &.position-center {
    margin: 0 auto;
    text-align: center;
  }

  &.position-left {
    margin: 0 auto;
    text-align: left;
  }

  &.full-width {
    max-width: 100% !important;
  }

  h2 {
    color: $color-light-black;
    font-size: 34px;
    line-height: 46px;
  }

  p {
    color: $color-dark-gray;
    font-size: 20px;
    line-height: 30px;
    margin-top: 12px;

    a {
      color: $color-blue;
    }
  }

  ul {
    padding-top: 10px;
  }

  li {
    color: $color-dark-gray;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    padding-left: 35px;
    position: relative;

    &::before {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMjk2IDM4OCAxNy40IDE3LjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTI5NiAzODggMTcuNCAxNy40OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzE1NjVDMCIgZD0iTS0yODcuMyw0MDUuNGM0LjgsMCw4LjctMy45LDguNy04LjdjMC00LjgtMy45LTguNy04LjctOC43Yy00LjgsMC04LjcsMy45LTguNyw4LjdDLTI5Niw0MDEuNS0yOTIuMSw0MDUuNC0yODcuMyw0MDUuNHogTS0yODcuMyw0MDMuN2MtMy45LDAtNy0zLjEtNy03YzAtMy45LDMuMS03LDctN2MzLjksMCw3LDMuMSw3LDdDLTI4MC4zLDQwMC42LTI4My40LDQwMy43LTI4Ny4zLDQwMy43eiBNLTI4OC40LDQwMC45bDYuMS02YzAuMi0wLjIsMC4yLTAuNCwwLTAuNmwtMC44LTAuOGMtMC4yLTAuMi0wLjQtMC4yLTAuNiwwbC01LDQuOWwtMi4xLTIuMWMtMC4yLTAuMi0wLjQtMC4yLTAuNiwwbC0wLjgsMC44Yy0wLjIsMC4yLTAuMiwwLjQsMCwwLjZsMy4yLDMuMkMtMjg4LjksNDAxLTI4OC42LDQwMS0yODguNCw0MDAuOXoiLz48L3N2Zz4=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 18px;
      left: 0;
      position: absolute;
      top: 5px;
      width: 18px;
    }
  }
}

.block-content-link {
  margin-top: 30px;

  a {
    background-color: $color-blue;
    border-radius: 3px;
    color: $color-white;
    display: inline-block;
    font-size: 20px;
    font-weight: $font-weight-medium;
    padding: 19px 39px;
  }
}

.video-wrapper {
  height: 0;
  margin-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (max-width : 768px) {
  .block-content-row {
    max-width: 770px !important;
  }
}

@media #{$tablet-query} {
  .block-content-row {
    padding: 60px 0;
    
    h2 {
      font-size: 30px;
      line-height: 40px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin-top: 15px;
    }

    li {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .block-content-link {
    margin-top: 33px;
    
    a {
      font-size: 16px;
      padding: 14px 31px;
    }
  }
}

@media (min-width : $mobile-break-point) {
  .block-content-section.mobile-show {
    display: none;
  }
}

@media (max-width : $mobile-break-point) {
  .block-content-section.mobile-hide {
    display: none;
  }

  .block-content-section.mobile-show {
    display: block;
  }
  
  .block-content-row {
    padding: 42px 0;

    h2 {
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 15px;
      line-height: 23px;
      margin-top: 10px;
    }

    ul {
      padding-top: 7px;
    }

    li {
      font-size: 15px;
      line-height: 23px;
      margin-top: 15px;
      padding-left: 25px;

      &::before {
        height: 12px;
        left: -1px;
        top: 5px;
        width: 12px;
      }
    }
  }

  .block-content-link {
    margin-top: 23px;
  
    a {
      font-size: 16px;
      padding: 14px 30px;
    }
  }
}
